.no_mrgn { margin: 0; }
.mrgn_aut {margin: auto;}
.no_brdr {border: none; }
.fnt { font-family: Helvetica, sans-serif; }
.clr_wht {color: white;}
.bkg_clr_gr {background-color: rgb(145, 190, 162);}
.pdg_btm_50 { padding-bottom: 50px; }
.pdg_top_5 { padding-top: 5px; }
.pdg_btm_5 { padding-bottom: 5px; }
.pdg_lft_30 { padding-left: 30px; }
.pdg_rht_30 { padding-right: 30px; }
.pdg_top_50 { padding-top: 50px; }
.bkg_pict_lrg { background-image: url(images/priroda.jpg); }
.wdth_60 { max-width: 60vw; }
.wdth_40 { max-width: 40vw; }
.brd_r_20 { border-radius: 20px; }
.wdth_40{ max-width: 40vw; }
.cont_cntr { text-align: center; }
.gap_20 { gap: 20px; }
.fl { display: flex; }
.fl_r {flex-direction: row;} 
.fl_c {flex-direction: column; }
.al_cntr { align-items: center; }
.just_around { justify-content: space-around;}

